body{
    display: flex;
    flex-direction: column;
    align-content: center;
    font-family: sans-serif;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

header{
    display: flex;
    flex-direction: row;
    padding: 2rem;
}

.imagenHeader-left{
    width: 35%;
    margin-left: -5%;
}

.textoHeader{
    display: flex;
    flex-direction: column;
    width: 40%;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}

h1{
    font-size: 3rem;
    font-weight: bold;
}

.parrafo{
    color: rgb(123, 124, 124);
}

.botonesHeader{
    display: flex;
    flex-direction: row;
}

button{
    margin: 1rem;
    height: 2.5rem;
    border-radius: 1.5rem;
    font-size: 0.9rem;
    padding: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border: 0cm;
}

.boton-Cadet{
    color: aliceblue;
    background-color: rgb(77, 150, 169);
    font-weight: bold;
}

.imagenHeader-right{
    width: 35%;
    margin-right: -5%;
}

main{
    display: flex;
    flex-direction: column;
    margin: 10%;
}

.imagenesMain{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}
.imagenMain{
    margin: 1rem;
    width: 20%;
}

.text{
    margin: 10%;
    margin-left: 29%;
    margin-right: 29%;
    justify-content: center;
    text-align: center;
}

h3{
    color: cadetblue;
    font-size: 1rem;
}

h2{
    font-size: 2rem;
    margin-left: 10%;
    margin-right: 10%;
}

footer{
    color: aliceblue;
    display: flex;
    flex-direction: row;
    height: 20rem;
    justify-content: space-around;
    align-items: center;
    justify-items: center;
    background-image: linear-gradient(
        rgba(77, 150, 169, 0.9), 
        rgba(77, 150, 169, 0.9)
        ), url(../imagenes/desktop/image-footer.jpg);
     background-repeat: no-repeat;
     background-position: center;
    /* background-color: rgba(20, 20, 191, 0.354); */
     background-size: cover;
     width: auto;
}

.tituloFooter{
    font-size: 2rem;
    font-weight: bold;
    width: 40%;
    margin-right: 0%;
    margin-left: 15%;
    padding-right: 5%;
}

.parrafoFooter{
    width: 35%;
    margin-left: 5%;
    margin-right: 4%;
}
.buttonFooter{
    margin: 5%;
    width: 30%;
}

.boton-morado{
    background-color: rgb(133, 95, 177);
    color: aliceblue;
    font-weight: bold;
}